In [128]:
import os
import numpy as np
import pandas as pd

In [129]:
os.chdir('C:\\Users\\Ramya\\Desktop\\PythonForDataScience')
dataset_xtrain = pd.read_csv('Python_Module_Day_15.2_Credit_Risk_Train_data_XTRAIN.csv')
dataset_test = pd.read_csv('Python_Module_Day_15.3_Credit_Risk_Test_data.csv')
dataset = pd.read_csv('Python_Module_Day_15.4_Credit_Risk_Validate_data_XTEST.csv')

In [130]:
print(dataset_xtrain.isnull().sum())
dataset_xtrain

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
20,LP001043,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
21,LP001046,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y
22,LP001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
23,LP001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
24,LP001052,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban,N
25,LP001066,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
26,LP001068,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
27,LP001073,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
28,LP001086,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
29,LP001087,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,LP002911,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural,N
585,LP002912,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural,N
586,LP002916,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban,Y
587,LP002917,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y
588,LP002925,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban,Y
589,LP002926,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N
590,LP002928,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban,Y
591,LP002931,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban,N
592,LP002933,NaN,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban,Y
593,LP002936,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural,Y
594,LP002938,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban,Y
595,LP002940,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y
596,LP002941,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N
597,LP002943,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N
598,LP002945,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y
599,LP002948,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y
600,LP002949,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N
601,LP002950,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural,Y
602,LP002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
603,LP002958,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural,Y
604,LP002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
605,LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N
606,LP002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [131]:
print(dataset_xtrain.groupby('Gender').agg({'Gender': np.size}))
print(dataset_xtrain.groupby('Married').agg({'Married': np.size}))
print(dataset_xtrain.groupby('Self_Employed').agg({'Self_Employed': np.size}))
print(dataset_xtrain.groupby('Dependents').agg({'Dependents': np.size}))
print(dataset_xtrain.groupby('Loan_Amount_Term').agg({'Loan_Amount_Term': np.size}))
print(dataset_xtrain.groupby('Credit_History').agg({'Credit_History': np.size}))
print(dataset_xtrain.groupby('Property_Area').agg({'Property_Area': np.size}))

        Gender
Gender
Female     112
Male       489
         Married
Married
No           213
Yes          398
               Self_Employed
Self_Employed
No                       500
Yes                       82
            Dependents
Dependents
0                  345
1                  102
2                  101
3+                  51
                  Loan_Amount_Term
Loan_Amount_Term
12.0                           1.0
36.0                           2.0
60.0                           2.0
84.0                           4.0
120.0                          3.0
180.0                         44.0
240.0                          4.0
300.0                         13.0
360.0                        512.0
480.0                         15.0
                Credit_History
Credit_History
0.0                       89.0
1.0                      475.0
               Property_Area
Property_Area
Rural                    179
Semiurban                233
Urban                    202

In [132]:
#missing value treatment and encoding 

#from sklearn.impute import SimpleImputer
#imp = SimpleImputer(strategy='most_frequent')
#or

# Gender
dataset_xtrain["Gender"]=dataset_xtrain["Gender"].fillna('Male')
dataset_xtrain["Gender"] = dataset_xtrain["Gender"].astype('category')
dataset_xtrain["Gender"] = dataset_xtrain["Gender"].cat.codes


# Married
dataset_xtrain["Married"]=dataset_xtrain["Married"].fillna('Yes')
dataset_xtrain["Married"] = dataset_xtrain["Married"].astype('category')
dataset_xtrain["Married"] = dataset_xtrain["Married"].cat.codes
#Dependents
dataset_xtrain["Dependents"]=dataset_xtrain["Dependents"].fillna('0')
dataset_xtrain.replace('3+', 3, inplace=True)
# Education ( no missing value but only encoding)
dataset_xtrain["Education"] = dataset_xtrain["Education"].astype('category')
dataset_xtrain["Education"] = dataset_xtrain["Education"].cat.codes
# Self_Employed 
dataset_xtrain["Self_Employed"]=dataset_xtrain["Self_Employed"].fillna('Yes')
dataset_xtrain["Self_Employed"] = dataset_xtrain["Self_Employed"].astype('category')
dataset_xtrain["Self_Employed"] = dataset_xtrain["Self_Employed"].cat.codes
# LoanAmount
dataset_xtrain["LoanAmount"].fillna(dataset_xtrain["LoanAmount"].mean(), inplace=True)
# Loan_Amount_Term
dataset_xtrain["Loan_Amount_Term"]=dataset_xtrain["Loan_Amount_Term"].fillna('360.0')
#Credit_History
dataset_xtrain["Credit_History"]=dataset_xtrain["Credit_History"].fillna('1')
# Property_Area
dataset_xtrain["Property_Area"] = dataset_xtrain["Property_Area"].astype('category')
dataset_xtrain["Property_Area"] = dataset_xtrain["Property_Area"].cat.codes
# Loan_Status
dataset_xtrain["Loan_Status"] = dataset_xtrain["Loan_Status"].astype('category')
dataset_xtrain["Loan_Status"] = dataset_xtrain["Loan_Status"].cat.codes

In [133]:
dataset_xtrain

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,0,0,5849,0.0,146.412162,360,1,2,1
1,LP001003,1,1,1,0,0,4583,1508.0,128.000000,360,1,0,0
2,LP001005,1,1,0,0,1,3000,0.0,66.000000,360,1,2,1
3,LP001006,1,1,0,1,0,2583,2358.0,120.000000,360,1,2,1
4,LP001008,1,0,0,0,0,6000,0.0,141.000000,360,1,2,1
5,LP001011,1,1,2,0,1,5417,4196.0,267.000000,360,1,2,1
6,LP001013,1,1,0,1,0,2333,1516.0,95.000000,360,1,2,1
7,LP001014,1,1,3,0,0,3036,2504.0,158.000000,360,0,1,0
8,LP001018,1,1,2,0,0,4006,1526.0,168.000000,360,1,2,1
9,LP001020,1,1,1,0,0,12841,10968.0,349.000000,360,1,1,0
10,LP001024,1,1,2,0,0,3200,700.0,70.000000,360,1,2,1
11,LP001027,1,1,2,0,1,2500,1840.0,109.000000,360,1,2,1
12,LP001028,1,1,2,0,0,3073,8106.0,200.000000,360,1,2,1
13,LP001029,1,0,0,0,0,1853,2840.0,114.000000,360,1,0,0
14,LP001030,1,1,2,0,0,1299,1086.0,17.000000,120,1,2,1
15,LP001032,1,0,0,0,0,4950,0.0,125.000000,360,1,2,1
16,LP001034,1,0,1,1,0,3596,0.0,100.000000,240,1,2,1
17,LP001036,0,0,0,0,0,3510,0.0,76.000000,360,0,2,0
18,LP001038,1,1,0,1,0,4887,0.0,133.000000,360,1,0,0
19,LP001041,1,1,0,0,1,2600,3500.0,115.000000,360.0,1,2,1
20,LP001043,1,1,0,1,0,7660,0.0,104.000000,360,0,2,0
21,LP001046,1,1,1,0,0,5955,5625.0,315.000000,360,1,2,1
22,LP001047,1,1,0,1,0,2600,1911.0,116.000000,360,0,1,0
23,LP001050,1,1,2,1,0,3365,1917.0,112.000000,360,0,0,0
24,LP001052,1,1,1,0,1,3717,2925.0,151.000000,360,1,1,0
25,LP001066,1,1,0,0,1,9560,0.0,191.000000,360,1,1,1
26,LP001068,1,1,0,0,0,2799,2253.0,122.000000,360,1,1,1
27,LP001073,1,1,2,1,0,4226,1040.0,110.000000,360,1,2,1
28,LP001086,1,0,0,1,0,1442,0.0,35.000000,360,1,2,0
29,LP001087,0,0,2,0,1,3750,2083.0,120.000000,360,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,LP002911,1,1,1,0,0,2787,1917.0,146.000000,360,0,0,0
585,LP002912,1,1,1,0,0,4283,3000.0,172.000000,84,1,0,0
586,LP002916,1,1,0,0,0,2297,1522.0,104.000000,360,1,2,1
587,LP002917,0,0,0,1,0,2165,0.0,70.000000,360,1,1,1
588,LP002925,1,0,0,0,0,4750,0.0,94.000000,360,1,1,1
589,LP002926,1,1,2,0,1,2726,0.0,106.000000,360,0,1,0
590,LP002928,1,1,0,0,0,3000,3416.0,56.000000,180,1,1,1
591,LP002931,1,1,2,0,1,6000,0.0,205.000000,240,1,1,0
592,LP002933,1,0,3,0,1,9357,0.0,292.000000,360,1,1,1
593,LP002936,1,1,0,0,0,3859,3300.0,142.000000,180,1,0,1
594,LP002938,1,1,0,0,1,16120,0.0,260.000000,360,1,2,1
595,LP002940,1,0,0,1,0,3833,0.0,110.000000,360,1,0,1
596,LP002941,1,1,2,1,1,6383,1000.0,187.000000,360,1,0,0
597,LP002943,1,0,0,0,0,2987,0.0,88.000000,360,0,1,0
598,LP002945,1,1,0,0,1,9963,0.0,180.000000,360,1,0,1
599,LP002948,1,1,2,0,0,5780,0.0,192.000000,360,1,2,1
600,LP002949,0,0,3,0,1,416,41667.0,350.000000,180,1,2,0
601,LP002950,1,1,0,1,1,2894,2792.0,155.000000,360,1,0,1
602,LP002953,1,1,3,0,0,5703,0.0,128.000000,360,1,2,1
603,LP002958,1,0,0,0,0,3676,4301.0,172.000000,360,1,0,1
604,LP002959,0,1,1,0,0,12000,0.0,496.000000,360,1,1,1
605,LP002960,1,1,0,1,0,2400,3800.0,146.412162,180,1,2,0
606,LP002961,1,1,1,0,0,3400,2500.0,173.000000,360,1,1,1
607,LP002964,1,1,2,1,0,3987,1411.0,157.000000,360,1,0,1
608,LP002974,1,1,0,0,0,3232,1950.0,108.000000,360,1,0,1
609,LP002978,0,0,0,0,0,2900,0.0,71.000000,360,1,0,1
610,LP002979,1,1,3,0,0,4106,0.0,40.000000,180,1,0,1
611,LP002983,1,1,1,0,0,8072,240.0,253.000000,360,1,2,1
612,LP002984,1,1,2,0,0,7583,0.0,187.000000,360,1,2,1
613,LP002990,0,0,0,0,1,4583,0.0,133.000000,360,0,1,0

In [134]:
dataset_xtrain.drop(['Loan_ID'], axis = 1, inplace = True)
dataset_xtrain

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,0,0,0,0,5849,0.0,146.412162,360,1,2,1
1,1,1,1,0,0,4583,1508.0,128.000000,360,1,0,0
2,1,1,0,0,1,3000,0.0,66.000000,360,1,2,1
3,1,1,0,1,0,2583,2358.0,120.000000,360,1,2,1
4,1,0,0,0,0,6000,0.0,141.000000,360,1,2,1
5,1,1,2,0,1,5417,4196.0,267.000000,360,1,2,1
6,1,1,0,1,0,2333,1516.0,95.000000,360,1,2,1
7,1,1,3,0,0,3036,2504.0,158.000000,360,0,1,0
8,1,1,2,0,0,4006,1526.0,168.000000,360,1,2,1
9,1,1,1,0,0,12841,10968.0,349.000000,360,1,1,0
10,1,1,2,0,0,3200,700.0,70.000000,360,1,2,1
11,1,1,2,0,1,2500,1840.0,109.000000,360,1,2,1
12,1,1,2,0,0,3073,8106.0,200.000000,360,1,2,1
13,1,0,0,0,0,1853,2840.0,114.000000,360,1,0,0
14,1,1,2,0,0,1299,1086.0,17.000000,120,1,2,1
15,1,0,0,0,0,4950,0.0,125.000000,360,1,2,1
16,1,0,1,1,0,3596,0.0,100.000000,240,1,2,1
17,0,0,0,0,0,3510,0.0,76.000000,360,0,2,0
18,1,1,0,1,0,4887,0.0,133.000000,360,1,0,0
19,1,1,0,0,1,2600,3500.0,115.000000,360.0,1,2,1
20,1,1,0,1,0,7660,0.0,104.000000,360,0,2,0
21,1,1,1,0,0,5955,5625.0,315.000000,360,1,2,1
22,1,1,0,1,0,2600,1911.0,116.000000,360,0,1,0
23,1,1,2,1,0,3365,1917.0,112.000000,360,0,0,0
24,1,1,1,0,1,3717,2925.0,151.000000,360,1,1,0
25,1,1,0,0,1,9560,0.0,191.000000,360,1,1,1
26,1,1,0,0,0,2799,2253.0,122.000000,360,1,1,1
27,1,1,2,1,0,4226,1040.0,110.000000,360,1,2,1
28,1,0,0,1,0,1442,0.0,35.000000,360,1,2,0
29,0,0,2,0,1,3750,2083.0,120.000000,360,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
584,1,1,1,0,0,2787,1917.0,146.000000,360,0,0,0
585,1,1,1,0,0,4283,3000.0,172.000000,84,1,0,0
586,1,1,0,0,0,2297,1522.0,104.000000,360,1,2,1
587,0,0,0,1,0,2165,0.0,70.000000,360,1,1,1
588,1,0,0,0,0,4750,0.0,94.000000,360,1,1,1
589,1,1,2,0,1,2726,0.0,106.000000,360,0,1,0
590,1,1,0,0,0,3000,3416.0,56.000000,180,1,1,1
591,1,1,2,0,1,6000,0.0,205.000000,240,1,1,0
592,1,0,3,0,1,9357,0.0,292.000000,360,1,1,1
593,1,1,0,0,0,3859,3300.0,142.000000,180,1,0,1
594,1,1,0,0,1,16120,0.0,260.000000,360,1,2,1
595,1,0,0,1,0,3833,0.0,110.000000,360,1,0,1
596,1,1,2,1,1,6383,1000.0,187.000000,360,1,0,0
597,1,0,0,0,0,2987,0.0,88.000000,360,0,1,0
598,1,1,0,0,1,9963,0.0,180.000000,360,1,0,1
599,1,1,2,0,0,5780,0.0,192.000000,360,1,2,1
600,0,0,3,0,1,416,41667.0,350.000000,180,1,2,0
601,1,1,0,1,1,2894,2792.0,155.000000,360,1,0,1
602,1,1,3,0,0,5703,0.0,128.000000,360,1,2,1
603,1,0,0,0,0,3676,4301.0,172.000000,360,1,0,1
604,0,1,1,0,0,12000,0.0,496.000000,360,1,1,1
605,1,1,0,1,0,2400,3800.0,146.412162,180,1,2,0
606,1,1,1,0,0,3400,2500.0,173.000000,360,1,1,1
607,1,1,2,1,0,3987,1411.0,157.000000,360,1,0,1
608,1,1,0,0,0,3232,1950.0,108.000000,360,1,0,1
609,0,0,0,0,0,2900,0.0,71.000000,360,1,0,1
610,1,1,3,0,0,4106,0.0,40.000000,180,1,0,1
611,1,1,1,0,0,8072,240.0,253.000000,360,1,2,1
612,1,1,2,0,0,7583,0.0,187.000000,360,1,2,1
613,0,0,0,0,1,4583,0.0,133.000000,360,0,1,0

In [135]:
x_train = dataset_xtrain.iloc[:,:-1]
y_train = dataset_xtrain.iloc[:,-1].values

In [136]:
# Standardization
from sklearn.preprocessing import StandardScaler
std_scalar = StandardScaler()
x_train = std_scalar.fit_transform(x_train)

C:\Users\Ramya\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int8, int64, float64, object were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Ramya\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int8, int64, float64, object were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [137]:
print(x_train)
pd.DataFrame(x_train).shape
print(y_train)

[[ 0.47234264 -1.37208932 -0.73780632 ...  0.2732313   0.41173269
   1.22329839]
 [ 0.47234264  0.72881553  0.25346957 ...  0.2732313   0.41173269
  -1.31851281]
 [ 0.47234264  0.72881553 -0.73780632 ...  0.2732313   0.41173269
   1.22329839]
 ...
 [ 0.47234264  0.72881553  0.25346957 ...  0.2732313   0.41173269
   1.22329839]
 [ 0.47234264  0.72881553  1.24474546 ...  0.2732313   0.41173269
   1.22329839]
 [-2.11710719 -1.37208932 -0.73780632 ...  0.2732313  -2.42876026
  -0.04760721]]
[1 0 1 1 1 1 1 0 1 0 1 1 1 0 1 1 1 0 0 1 0 1 0 0 0 1 1 1 0 1 0 0 0 1 0 1 0
 1 1 1 0 1 1 1 1 1 1 1 0 1 1 1 0 0 0 1 1 0 1 1 1 1 0 0 0 0 0 1 1 0 1 1 1 0
 1 0 0 0 0 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1
 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 0 0 1 0 0 0 1 1 1 1 1 1 1
 0 1 0 1 0 0 1 1 1 1 1 1 1 0 0 1 1 1 0 1 0 1 1 1 0 1 0 1 1 0 1 0 0 0 1 0 1
 1 0 1 1 1 1 0 0 1 1 0 1 1 1 0 1 1 0 1 1 1 1 1 1 0 0 0 1 1 1 1 0 1 0 1 0 1
 1 1 1 0 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 0 1 1 1 1 0 0 1 1 0 1 0 0 0
 0 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 0 1 1 1 1 0 1 0 1 1
 1 1 0 0 0 1 1 1 1 0 1 0 0 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1 1 0 1 1 0 1 1 1 1
 1 1 1 1 1 0 1 0 0 1 1 1 1 0 1 1 1 1 0 1 0 1 1 1 0 0 1 0 1 1 1 1 0 0 0 1 0
 1 1 1 0 1 1 1 1 0 1 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 0 1 1 0 0 0 1 1 0 1 1
 1 0 0 0 1 0 1 0 1 0 0 1 1 1 0 1 0 1 1 0 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 1
 1 1 1 0 0 0 0 1 0 1 1 1 1 0 1 0 1 1 1 1 0 1 0 1 1 0 1 0 1 1 1 1 1 0 1 0 1
 1 1 1 1 1 0 0 1 0 1 1 1 1 0 1 1 1 1 0 1 1 1 0 1 1 1 0 1 1 0 1 1 0 0 1 1 0
 0 0 1 1 1 1 0 1 1 1 1 1 1 1 0 0 1 1 1 1 0 1 1 0 1 1 1 1 0 1 0 1 0 1 1 0 0
 1 1 1 1 1 1 1 1 1 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 1 1 0 1 0 0 0 1 1 1 0 1 0
 1 1 1 1 0 0 1 1 0 1 1 1 1 0 1 1 1 1 1 1 1 0]

In [138]:
dataset_test

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
5,LP001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban
6,LP001055,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural
8,LP001059,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban
9,LP001067,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban
10,LP001078,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban
11,LP001082,Male,Yes,1,Graduate,NaN,2185,1516,162.0,360.0,1.0,Semiurban
12,LP001083,Male,No,3+,Graduate,No,4166,0,40.0,180.0,NaN,Urban
13,LP001094,Male,Yes,2,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban
14,LP001096,Female,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban
15,LP001099,Male,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban
16,LP001105,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban
17,LP001107,Male,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban
18,LP001108,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban
19,LP001115,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban
20,LP001121,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban
21,LP001124,Female,No,3+,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban
22,LP001128,NaN,No,0,Graduate,No,3909,0,101.0,360.0,1.0,Urban
23,LP001135,Female,No,0,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban
24,LP001149,Male,Yes,0,Graduate,No,5400,4380,290.0,360.0,1.0,Urban
25,LP001153,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural
26,LP001163,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,NaN,Urban
27,LP001169,Male,Yes,0,Graduate,No,7500,3750,275.0,360.0,1.0,Urban
28,LP001174,Male,Yes,0,Graduate,No,3772,833,57.0,360.0,NaN,Semiurban
29,LP001176,Male,No,0,Graduate,No,2942,2382,125.0,180.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
337,LP002856,Male,Yes,0,Graduate,No,2292,1558,119.0,360.0,1.0,Urban
338,LP002857,Male,Yes,1,Graduate,Yes,2360,3355,87.0,240.0,1.0,Rural
339,LP002858,Female,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural
340,LP002860,Male,Yes,0,Graduate,Yes,2623,4831,122.0,180.0,1.0,Semiurban
341,LP002867,Male,No,0,Graduate,Yes,3972,4275,187.0,360.0,1.0,Rural
342,LP002869,Male,Yes,3+,Not Graduate,No,3522,0,81.0,180.0,1.0,Rural
343,LP002870,Male,Yes,1,Graduate,No,4700,0,80.0,360.0,1.0,Urban
344,LP002876,Male,No,0,Graduate,No,6858,0,176.0,360.0,1.0,Rural
345,LP002878,Male,Yes,3+,Graduate,No,8334,0,260.0,360.0,1.0,Urban
346,LP002879,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural
347,LP002885,Male,No,0,Not Graduate,No,2868,0,70.0,360.0,1.0,Urban
348,LP002890,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.0,Urban
349,LP002891,Male,Yes,0,Graduate,Yes,2500,296,137.0,300.0,1.0,Rural
350,LP002899,Male,Yes,2,Graduate,No,8667,0,254.0,360.0,1.0,Rural
351,LP002901,Male,No,0,Graduate,No,2283,15000,106.0,360.0,NaN,Rural
352,LP002907,Male,Yes,0,Graduate,No,5817,910,109.0,360.0,1.0,Urban
353,LP002920,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural
354,LP002921,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban
355,LP002932,Male,Yes,3+,Graduate,No,7603,1213,197.0,360.0,1.0,Urban
356,LP002935,Male,Yes,1,Graduate,No,3791,1936,85.0,360.0,1.0,Urban
357,LP002952,Male,No,0,Graduate,No,2500,0,60.0,360.0,1.0,Urban
358,LP002954,Male,Yes,2,Not Graduate,No,3132,0,76.0,360.0,NaN,Rural
359,LP002962,Male,No,0,Graduate,No,4000,2667,152.0,360.0,1.0,Semiurban
360,LP002965,Female,Yes,0,Graduate,No,8550,4255,96.0,360.0,NaN,Urban
361,LP002969,Male,Yes,1,Graduate,No,2269,2167,99.0,360.0,1.0,Semiurban
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [139]:
#do the above for test data
dataset_test["Gender"]=dataset_test["Gender"].fillna('Male')
dataset_test["Gender"] = dataset_test["Gender"].astype('category')
dataset_test["Gender"] = dataset_test["Gender"].cat.codes

# Married
dataset_test["Married"]=dataset_test["Married"].fillna('Yes')
dataset_test["Married"] = dataset_test["Married"].astype('category')
dataset_test["Married"] = dataset_test["Married"].cat.codes
#Dependents
dataset_test["Dependents"]=dataset_test["Dependents"].fillna('0')
dataset_test.replace('3+', 3, inplace=True)
# Education ( no missing value but only encoding)
dataset_test["Education"] = dataset_test["Education"].astype('category')
dataset_test["Education"] = dataset_test["Education"].cat.codes
# Self_Employed 
dataset_test["Self_Employed"]=dataset_test["Self_Employed"].fillna('Yes')
dataset_test["Self_Employed"] = dataset_test["Self_Employed"].astype('category')
dataset_test["Self_Employed"] = dataset_test["Self_Employed"].cat.codes
# LoanAmount
dataset_test["LoanAmount"].fillna(dataset_test["LoanAmount"].mean(), inplace=True)
# Loan_Amount_Term
dataset_test["Loan_Amount_Term"]=dataset_test["Loan_Amount_Term"].fillna('360.0')
#Credit_History
dataset_test["Credit_History"]=dataset_test["Credit_History"].fillna('1')
# Property_Area
dataset_test["Property_Area"] = dataset_test["Property_Area"].astype('category')
dataset_test["Property_Area"] = dataset_test["Property_Area"].cat.codes

In [140]:
dataset_test

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,1,1,0,0,0,5720,0,110.0,360,1,2
1,LP001022,1,1,1,0,0,3076,1500,126.0,360,1,2
2,LP001031,1,1,2,0,0,5000,1800,208.0,360,1,2
3,LP001035,1,1,2,0,0,2340,2546,100.0,360,1,2
4,LP001051,1,0,0,1,0,3276,0,78.0,360,1,2
5,LP001054,1,1,0,1,1,2165,3422,152.0,360,1,2
6,LP001055,0,0,1,1,0,2226,0,59.0,360,1,1
7,LP001056,1,1,2,1,0,3881,0,147.0,360,0,0
8,LP001059,1,1,2,0,1,13633,0,280.0,240,1,2
9,LP001067,1,0,0,1,0,2400,2400,123.0,360,1,1
10,LP001078,1,0,0,1,0,3091,0,90.0,360,1,2
11,LP001082,1,1,1,0,1,2185,1516,162.0,360,1,1
12,LP001083,1,0,3,0,0,4166,0,40.0,180,1,2
13,LP001094,1,1,2,0,1,12173,0,166.0,360,0,1
14,LP001096,0,0,0,0,0,4666,0,124.0,360,1,1
15,LP001099,1,0,1,0,0,5667,0,131.0,360,1,2
16,LP001105,1,1,2,0,0,4583,2916,200.0,360,1,2
17,LP001107,1,1,3,0,0,3786,333,126.0,360,1,1
18,LP001108,1,1,0,0,0,9226,7916,300.0,360,1,2
19,LP001115,1,0,0,0,0,1300,3470,100.0,180,1,1
20,LP001121,1,1,1,1,0,1888,1620,48.0,360,1,2
21,LP001124,0,0,3,1,0,2083,0,28.0,180,1,2
22,LP001128,1,0,0,0,0,3909,0,101.0,360,1,2
23,LP001135,0,0,0,1,0,3765,0,125.0,360,1,2
24,LP001149,1,1,0,0,0,5400,4380,290.0,360,1,2
25,LP001153,1,0,0,0,0,0,24000,148.0,360,0,0
26,LP001163,1,1,2,0,0,4363,1250,140.0,360,1,2
27,LP001169,1,1,0,0,0,7500,3750,275.0,360,1,2
28,LP001174,1,1,0,0,0,3772,833,57.0,360,1,1
29,LP001176,1,0,0,0,0,2942,2382,125.0,180,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
337,LP002856,1,1,0,0,0,2292,1558,119.0,360,1,2
338,LP002857,1,1,1,0,1,2360,3355,87.0,240,1,0
339,LP002858,0,0,0,0,0,4333,2333,162.0,360,0,0
340,LP002860,1,1,0,0,1,2623,4831,122.0,180,1,1
341,LP002867,1,0,0,0,1,3972,4275,187.0,360,1,0
342,LP002869,1,1,3,1,0,3522,0,81.0,180,1,0
343,LP002870,1,1,1,0,0,4700,0,80.0,360,1,2
344,LP002876,1,0,0,0,0,6858,0,176.0,360,1,0
345,LP002878,1,1,3,0,0,8334,0,260.0,360,1,2
346,LP002879,1,1,0,0,0,3391,1966,133.0,360,0,0
347,LP002885,1,0,0,1,0,2868,0,70.0,360,1,2
348,LP002890,1,1,2,1,0,3418,1380,135.0,360,1,2
349,LP002891,1,1,0,0,1,2500,296,137.0,300,1,0
350,LP002899,1,1,2,0,0,8667,0,254.0,360,1,0
351,LP002901,1,0,0,0,0,2283,15000,106.0,360,1,0
352,LP002907,1,1,0,0,0,5817,910,109.0,360,1,2
353,LP002920,1,1,0,0,0,5119,3769,120.0,360,1,0
354,LP002921,1,1,3,1,0,5316,187,158.0,180,0,1
355,LP002932,1,1,3,0,0,7603,1213,197.0,360,1,2
356,LP002935,1,1,1,0,0,3791,1936,85.0,360,1,2
357,LP002952,1,0,0,0,0,2500,0,60.0,360,1,2
358,LP002954,1,1,2,1,0,3132,0,76.0,360,1,0
359,LP002962,1,0,0,0,0,4000,2667,152.0,360,1,1
360,LP002965,0,1,0,0,0,8550,4255,96.0,360,1,2
361,LP002969,1,1,1,0,0,2269,2167,99.0,360,1,1
362,LP002971,1,1,3,1,1,4009,1777,113.0,360,1,2
363,LP002975,1,1,0,0,0,4158,709,115.0,360,1,2
364,LP002980,1,0,0,0,0,3250,1993,126.0,360,1,1
365,LP002986,1,1,0,0,0,5000,2393,158.0,360,1,0
366,LP002989,1,0,0,0,1,9200,0,98.0,180,1,0

In [141]:
dataset_test.drop(['Loan_ID'], axis = 1, inplace = True)
dataset_test

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,1,0,0,0,5720,0,110.0,360,1,2
1,1,1,1,0,0,3076,1500,126.0,360,1,2
2,1,1,2,0,0,5000,1800,208.0,360,1,2
3,1,1,2,0,0,2340,2546,100.0,360,1,2
4,1,0,0,1,0,3276,0,78.0,360,1,2
5,1,1,0,1,1,2165,3422,152.0,360,1,2
6,0,0,1,1,0,2226,0,59.0,360,1,1
7,1,1,2,1,0,3881,0,147.0,360,0,0
8,1,1,2,0,1,13633,0,280.0,240,1,2
9,1,0,0,1,0,2400,2400,123.0,360,1,1
10,1,0,0,1,0,3091,0,90.0,360,1,2
11,1,1,1,0,1,2185,1516,162.0,360,1,1
12,1,0,3,0,0,4166,0,40.0,180,1,2
13,1,1,2,0,1,12173,0,166.0,360,0,1
14,0,0,0,0,0,4666,0,124.0,360,1,1
15,1,0,1,0,0,5667,0,131.0,360,1,2
16,1,1,2,0,0,4583,2916,200.0,360,1,2
17,1,1,3,0,0,3786,333,126.0,360,1,1
18,1,1,0,0,0,9226,7916,300.0,360,1,2
19,1,0,0,0,0,1300,3470,100.0,180,1,1
20,1,1,1,1,0,1888,1620,48.0,360,1,2
21,0,0,3,1,0,2083,0,28.0,180,1,2
22,1,0,0,0,0,3909,0,101.0,360,1,2
23,0,0,0,1,0,3765,0,125.0,360,1,2
24,1,1,0,0,0,5400,4380,290.0,360,1,2
25,1,0,0,0,0,0,24000,148.0,360,0,0
26,1,1,2,0,0,4363,1250,140.0,360,1,2
27,1,1,0,0,0,7500,3750,275.0,360,1,2
28,1,1,0,0,0,3772,833,57.0,360,1,1
29,1,0,0,0,0,2942,2382,125.0,180,1,2
...,...,...,...,...,...,...,...,...,...,...,...
337,1,1,0,0,0,2292,1558,119.0,360,1,2
338,1,1,1,0,1,2360,3355,87.0,240,1,0
339,0,0,0,0,0,4333,2333,162.0,360,0,0
340,1,1,0,0,1,2623,4831,122.0,180,1,1
341,1,0,0,0,1,3972,4275,187.0,360,1,0
342,1,1,3,1,0,3522,0,81.0,180,1,0
343,1,1,1,0,0,4700,0,80.0,360,1,2
344,1,0,0,0,0,6858,0,176.0,360,1,0
345,1,1,3,0,0,8334,0,260.0,360,1,2
346,1,1,0,0,0,3391,1966,133.0,360,0,0
347,1,0,0,1,0,2868,0,70.0,360,1,2
348,1,1,2,1,0,3418,1380,135.0,360,1,2
349,1,1,0,0,1,2500,296,137.0,300,1,0
350,1,1,2,0,0,8667,0,254.0,360,1,0
351,1,0,0,0,0,2283,15000,106.0,360,1,0
352,1,1,0,0,0,5817,910,109.0,360,1,2
353,1,1,0,0,0,5119,3769,120.0,360,1,0
354,1,1,3,1,0,5316,187,158.0,180,0,1
355,1,1,3,0,0,7603,1213,197.0,360,1,2
356,1,1,1,0,0,3791,1936,85.0,360,1,2
357,1,0,0,0,0,2500,0,60.0,360,1,2
358,1,1,2,1,0,3132,0,76.0,360,1,0
359,1,0,0,0,0,4000,2667,152.0,360,1,1
360,0,1,0,0,0,8550,4255,96.0,360,1,2
361,1,1,1,0,0,2269,2167,99.0,360,1,1
362,1,1,3,1,1,4009,1777,113.0,360,1,2
363,1,1,0,0,0,4158,709,115.0,360,1,2
364,1,0,0,0,0,3250,1993,126.0,360,1,1
365,1,1,0,0,0,5000,2393,158.0,360,1,0
366,1,0,0,0,1,9200,0,98.0,180,1,0

In [142]:
x_test = dataset_test.values

In [143]:
from sklearn.preprocessing import StandardScaler
std_scalar = StandardScaler()
x_test = std_scalar.fit_transform(x_test)

C:\Users\Ramya\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\Ramya\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [144]:
pd.DataFrame(dataset_test).shape

(367, 11)

In [145]:
print(dataset.shape)
dataset

(367, 13)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,outcome
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,Y
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,Y
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,Y
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban,Y
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,N
5,LP001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban,Y
6,LP001055,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban,Y
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural,N
8,LP001059,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban,Y
9,LP001067,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban,Y
10,LP001078,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban,Y
11,LP001082,Male,Yes,1,Graduate,NaN,2185,1516,162.0,360.0,1.0,Semiurban,Y
12,LP001083,Male,No,3+,Graduate,No,4166,0,40.0,180.0,NaN,Urban,Y
13,LP001094,Male,Yes,2,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban,N
14,LP001096,Female,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban,Y
15,LP001099,Male,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban,Y
16,LP001105,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban,Y
17,LP001107,Male,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban,Y
18,LP001108,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban,Y
19,LP001115,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban,Y
20,LP001121,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban,Y
21,LP001124,Female,No,3+,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban,Y
22,LP001128,NaN,No,0,Graduate,No,3909,0,101.0,360.0,1.0,Urban,Y
23,LP001135,Female,No,0,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban,Y
24,LP001149,Male,Yes,0,Graduate,No,5400,4380,290.0,360.0,1.0,Urban,Y
25,LP001153,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural,N
26,LP001163,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,NaN,Urban,Y
27,LP001169,Male,Yes,0,Graduate,No,7500,3750,275.0,360.0,1.0,Urban,Y
28,LP001174,Male,Yes,0,Graduate,No,3772,833,57.0,360.0,NaN,Semiurban,Y
29,LP001176,Male,No,0,Graduate,No,2942,2382,125.0,180.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,LP002856,Male,Yes,0,Graduate,No,2292,1558,119.0,360.0,1.0,Urban,Y
338,LP002857,Male,Yes,1,Graduate,Yes,2360,3355,87.0,240.0,1.0,Rural,Y
339,LP002858,Female,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural,N
340,LP002860,Male,Yes,0,Graduate,Yes,2623,4831,122.0,180.0,1.0,Semiurban,Y
341,LP002867,Male,No,0,Graduate,Yes,3972,4275,187.0,360.0,1.0,Rural,Y
342,LP002869,Male,Yes,3+,Not Graduate,No,3522,0,81.0,180.0,1.0,Rural,N
343,LP002870,Male,Yes,1,Graduate,No,4700,0,80.0,360.0,1.0,Urban,Y
344,LP002876,Male,No,0,Graduate,No,6858,0,176.0,360.0,1.0,Rural,Y
345,LP002878,Male,Yes,3+,Graduate,No,8334,0,260.0,360.0,1.0,Urban,Y
346,LP002879,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural,N
347,LP002885,Male,No,0,Not Graduate,No,2868,0,70.0,360.0,1.0,Urban,Y
348,LP002890,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.0,Urban,Y
349,LP002891,Male,Yes,0,Graduate,Yes,2500,296,137.0,300.0,1.0,Rural,Y
350,LP002899,Male,Yes,2,Graduate,No,8667,0,254.0,360.0,1.0,Rural,Y
351,LP002901,Male,No,0,Graduate,No,2283,15000,106.0,360.0,NaN,Rural,Y
352,LP002907,Male,Yes,0,Graduate,No,5817,910,109.0,360.0,1.0,Urban,Y
353,LP002920,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural,Y
354,LP002921,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban,Y
355,LP002932,Male,Yes,3+,Graduate,No,7603,1213,197.0,360.0,1.0,Urban,Y
356,LP002935,Male,Yes,1,Graduate,No,3791,1936,85.0,360.0,1.0,Urban,Y
357,LP002952,Male,No,0,Graduate,No,2500,0,60.0,360.0,1.0,Urban,Y
358,LP002954,Male,Yes,2,Not Graduate,No,3132,0,76.0,360.0,NaN,Rural,Y
359,LP002962,Male,No,0,Graduate,No,4000,2667,152.0,360.0,1.0,Semiurban,Y
360,LP002965,Female,Yes,0,Graduate,No,8550,4255,96.0,360.0,NaN,Urban,Y
361,LP002969,Male,Yes,1,Graduate,No,2269,2167,99.0,360.0,1.0,Semiurban,Y
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban,Y
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban,Y
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban,Y
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural,N
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural,Y

In [146]:
dataset.drop(['Loan_ID'], axis = 1, inplace = True)

In [147]:
dataset

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,outcome
0,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,Y
2,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,Y
3,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban,Y
4,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,N
5,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban,Y
6,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban,Y
7,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural,N
8,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban,Y
9,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban,Y
10,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban,Y
11,Male,Yes,1,Graduate,NaN,2185,1516,162.0,360.0,1.0,Semiurban,Y
12,Male,No,3+,Graduate,No,4166,0,40.0,180.0,NaN,Urban,Y
13,Male,Yes,2,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban,N
14,Female,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban,Y
15,Male,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban,Y
16,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban,Y
17,Male,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban,Y
18,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban,Y
19,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban,Y
20,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban,Y
21,Female,No,3+,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban,Y
22,NaN,No,0,Graduate,No,3909,0,101.0,360.0,1.0,Urban,Y
23,Female,No,0,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban,Y
24,Male,Yes,0,Graduate,No,5400,4380,290.0,360.0,1.0,Urban,Y
25,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural,N
26,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,NaN,Urban,Y
27,Male,Yes,0,Graduate,No,7500,3750,275.0,360.0,1.0,Urban,Y
28,Male,Yes,0,Graduate,No,3772,833,57.0,360.0,NaN,Semiurban,Y
29,Male,No,0,Graduate,No,2942,2382,125.0,180.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
337,Male,Yes,0,Graduate,No,2292,1558,119.0,360.0,1.0,Urban,Y
338,Male,Yes,1,Graduate,Yes,2360,3355,87.0,240.0,1.0,Rural,Y
339,Female,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural,N
340,Male,Yes,0,Graduate,Yes,2623,4831,122.0,180.0,1.0,Semiurban,Y
341,Male,No,0,Graduate,Yes,3972,4275,187.0,360.0,1.0,Rural,Y
342,Male,Yes,3+,Not Graduate,No,3522,0,81.0,180.0,1.0,Rural,N
343,Male,Yes,1,Graduate,No,4700,0,80.0,360.0,1.0,Urban,Y
344,Male,No,0,Graduate,No,6858,0,176.0,360.0,1.0,Rural,Y
345,Male,Yes,3+,Graduate,No,8334,0,260.0,360.0,1.0,Urban,Y
346,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural,N
347,Male,No,0,Not Graduate,No,2868,0,70.0,360.0,1.0,Urban,Y
348,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.0,Urban,Y
349,Male,Yes,0,Graduate,Yes,2500,296,137.0,300.0,1.0,Rural,Y
350,Male,Yes,2,Graduate,No,8667,0,254.0,360.0,1.0,Rural,Y
351,Male,No,0,Graduate,No,2283,15000,106.0,360.0,NaN,Rural,Y
352,Male,Yes,0,Graduate,No,5817,910,109.0,360.0,1.0,Urban,Y
353,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural,Y
354,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban,Y
355,Male,Yes,3+,Graduate,No,7603,1213,197.0,360.0,1.0,Urban,Y
356,Male,Yes,1,Graduate,No,3791,1936,85.0,360.0,1.0,Urban,Y
357,Male,No,0,Graduate,No,2500,0,60.0,360.0,1.0,Urban,Y
358,Male,Yes,2,Not Graduate,No,3132,0,76.0,360.0,NaN,Rural,Y
359,Male,No,0,Graduate,No,4000,2667,152.0,360.0,1.0,Semiurban,Y
360,Female,Yes,0,Graduate,No,8550,4255,96.0,360.0,NaN,Urban,Y
361,Male,Yes,1,Graduate,No,2269,2167,99.0,360.0,1.0,Semiurban,Y
362,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban,Y
363,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban,Y
364,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban,Y
365,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural,N
366,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural,Y

In [148]:
dataset["outcome"] = dataset["outcome"].astype('category')
dataset["outcome"] = dataset["outcome"].cat.codes

In [149]:
y_test = dataset['outcome'].values

y_test

array([1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1], dtype=int8)

In [151]:
# Logistic Regression

from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(x_train,y_train)

C:\Users\Ramya\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [161]:
y_pred_log = logmodel.predict(x_test)

In [162]:
y_pred_log

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int8)

In [155]:
y_test

array([1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1], dtype=int8)

In [157]:
# KNN
from sklearn.neighbors import KNeighborsClassifier
KNC = KNeighborsClassifier(n_neighbors = 9, metric = 'euclidean', p=2)
KNC.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='euclidean',
           metric_params=None, n_jobs=None, n_neighbors=9, p=2,
           weights='uniform')

In [163]:
y_pred_knn = KNC.predict(x_test)

In [164]:
y_pred_knn

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int8)

In [160]:
from sklearn.naive_bayes import GaussianNB
NB = GaussianNB()
NB.fit(x_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [165]:
y_pred_nb = NB.predict(x_test)

In [166]:
y_pred_nb

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int8)

In [167]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred_log)

array([[ 58,  19],
       [  1, 289]], dtype=int64)

In [168]:
# Logistic regression
347/367

0.9455040871934605

In [171]:
confusion_matrix(y_test,y_pred_knn)

array([[ 59,  18],
       [  4, 286]], dtype=int64)

In [172]:
# KNN
345/367

0.9400544959128065

In [174]:
#Naive bayes
confusion_matrix(y_test,y_pred_nb)

array([[ 58,  19],
       [ 10, 280]], dtype=int64)

In [175]:
338/367

0.9209809264305178